@import url(./variables.css);

.btn_linker {
    background-color: rgb(30, 6, 54);
    width: 100%;
    height: 100%;
}

.cont_pop {
    font-family: var(--font-decoration2);
    background: var(--color-third);
    color: var(--color-text1);
    border-radius: 24px;
}

.title_alert {
    font-size: 22px;
}