@import url(./variables.css);

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--font-v1);
    font-style: italic;
    font-weight: 100;
}

.loadeer_container {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(48, 46, 46, 0.822);
    z-index: 99;
}

.no_content {
    font-family: var(--font-decoration1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    >h1 {
        margin-top: 30px;
    }
}