@import url(./variables.css);

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--font-v1);
    font-style: italic;
    font-weight: 100;
}

.loadeer_container {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(48, 46, 46, 0.822);
    z-index: 99;
}

.no_content {
    font-family: var(--font-decoration1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    >h1 {
        margin-top: 30px;
    }
}

/* vistas */
.conatiner_crud {
    width: 94%;
    margin: 0 auto;
    margin-top: 15px;
}

.conatiner__data_load {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* inputs */
.input_st {
    width: 190px;
    height: 30px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 2px;
    outline: none;
    transition: ease 0.25s;
    flex-shrink: 0;
}

.text_area_st {
    /* width: 190px; */
    min-height: 70px;
    max-height: 70px;
    padding: 0.475rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 2px;
    outline: none;
    transition: ease 0.25s;
    flex-shrink: 0;
    font-family: var(--font-v1);
    resize: vertical;
}

.input_st:focus,
.text_area_st:focus {
    border-color: var(--color-primary);
    box-shadow: 5.5px 7px 0 black;
}

.custom-datepicker {
    width: 190px;
}

/* custom de selects */
.custom-select-modal{
    /* El input principal */
    --ms-bg: var(--color-primary);
    --ms-font-color: #ffffff;
    --ms-border-color: #3f4041;
    --ms-border-width: 1px;
    --ms-radius: 6px;
    
    --ms-ring-width: 1px;
    --ms-ring-color: #3b82f6; 
    
    /* El menú desplegable (la lista de opciones) */
    --ms-dropdown-bg: var(--color-sixth); /* Fondo oscuro del menú */
    --ms-dropdown-border-color: #3f4041;
    
    /* Las opciones por defecto */
    --ms-option-color: #ffffff;
    
    /* Cuando pasas el mouse sobre una opción (Hover) */
    --ms-option-bg-pointed: var(--color-fourth); /* O un color más claro */
    --ms-option-color-pointed: #ffffff;
    
    /* La opción que ya está seleccionada */
    --ms-option-bg-selected: #3b82f6;
    --ms-option-color-selected: var(--color-lines);
    
    /* Iconos (flechita y la 'x' para limpiar) */
    --ms-caret-color: #ffffff;
    --ms-clear-color: #ffffff;
    --ms-spinner-color: #3b82f6;
}