@import url(./variables.css);

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--font-v1);
    font-style: italic;
    font-weight: 100;
}

.loadeer_container {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(48, 46, 46, 0.822);
    z-index: 99;
}

.no_content {
    font-family: var(--font-decoration1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    >h1 {
        margin-top: 30px;
    }
}

/* inputs */
.input_st {
    width: 190px;
    height: 30px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 2px;
    outline: none;
    transition: ease 0.25s;
    flex-shrink: 0;
}

.text_area_st {
    width: 190px;
    min-height: 70px;
    max-height: 70px;
    padding: 0.475rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 2px;
    outline: none;
    transition: ease 0.25s;
    flex-shrink: 0;
    font-family: var(--font-v1);
    resize: vertical;
}

.input_st:focus,
.text_area_st:focus {
    border-color: var(--color-primary);
    box-shadow: 5.5px 7px 0 black;
}

.custom-datepicker {
    width: 190px;
}