@import url(./variables.css);

#app{
    display: grid;
    background: var(--color-primary);
    grid-template-columns: var(--layaout-width) var(--columns-layaout);
    grid-template-rows: var(--row-layout);
    transition: all .4s ease;
    color: var(--color-text-content);
}
#app .aside{
    position: fixed;
    min-width: var(--width-aside);
    width: var(--width-aside);
}
#app main{
    display: grid;
    grid-column: 2 /-1;
    grid-row: 1 /4;
}
#app header{
    display: flex;
    background: var(--color-black);
    grid-column: 1 /-1;
}
/* Resposinve del layaot */
@media(width<820px){
    #app main{
        display: grid;
        grid-column: 1 /-1;
        grid-row: 1 /4;
    }
}