@import url(./variables.css);

#app{
    display: grid;
    background: var(--color-primary);
    grid-template-columns: var(--layaout-width) var(--columns-layaout);
    grid-template-rows: var(--row-layout);
}
#app aside{
    background: var(--color-seccundary);
    position: fixed;
    height: 100%;
    min-width: var(--width-aside);
    width: var(--width-aside);
}
#app main{
    display: grid;
    grid-column: 2 /-1;
    grid-row: 1 /4;
    background: var(--color-main-bk);
}
#app header{
    display: flex;
    background: var(--color-black);
    grid-column: 1 /-1;
}
/* Resposinve del layaot */
@media(width<820px){
    #app main{
        display: grid;
        grid-column: 1 /-1;
        grid-row: 1 /4;
        background: var(--color-main-bk);
    }
   #app aside{
        left: -300px;
   }
}