@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Cabin+Sketch&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:opsz,wght@14..32,100..900&display=swap');

:root{
    /* colores */
    --color-main-bk: #0194b6;
    --color-primary: #2C3E50;
    --color-aeccundary: #ECF0F1;
    --color-third: #FFFFFF;
    --color-fourth: #2ECC71;

}